.books {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 2rem;
    font-size: small;
}

.books::after {
    content: '';
    flex: 0 1 20%;
    margin: 0.5rem 1rem;
    padding: 0rem 1rem 0.5rem 1rem;
}

.book {
    display: flex;
    flex-direction: column;
    flex: 0 1 20%;
    position: relative;
    margin: 0.5rem 1rem;
    padding: 0rem 1rem 0.5rem 1rem;
    border: 1px dotted slateblue;
    background-color: rgb(254, 256, 255);
    box-shadow: 0.25rem 0.25rem 0.5rem 0 rgb(180, 179, 179);
    border-radius: 0.33rem;
}

.book__footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: auto;
    padding-top: 0.5rem;
    border-top: 1px dotted rgb(137, 188, 188);
}

.book__index {
    margin-left: auto;
    color: rgb(183, 183, 183);
}

.container--bookList {
    margin: 1rem 3rem;
}

.book__header {
    display: flex;
    flex-wrap: nowrap;
}

.book__filter {
    display: flex;
    flex-wrap: nowrap;
}

.book__description {
    margin: 0.5rem 0 0.33rem 0;
}