.course--detail, .book--detail, .project--detail {
    margin: 1rem 3rem;
}

.course__header {
    display: flex;
    flex-wrap: nowrap;
}

.coursedetail__header {
    font-size: 1.75rem;
}

.project__info {
    padding: 1rem;
}

.course__books, .book__projects {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.course__book, .book__project {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid rgb(214, 223, 235);
    padding: 0.33rem 0.5rem;
    margin: 0 0 0.25rem 0;
    background-color: rgb(243, 249, 255);
}

.course__book:hover, .book__project:hover {
    border: 1px solid rgb(202, 215, 233);
    padding: 0.33rem 0.6rem;
    background-color: rgb(234, 244, 254);
    cursor: pointer;
    text-decoration: underline;
    color:blue;
}

.book__footer, .project__footer, .course__footer {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 0.5rem;
}
