.hiringGraph {
    max-width: 900px;
}

@media (max-width: 768px) {
    .hiringGraph {
        width: 100%;
    }
}

.proposal__overview {
    min-height: 10rem;
}

.proposal__checklist {
    list-style-type: none;
}
