.titlebar {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.recordWeights {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
}

.records {
    flex: 3;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 3rem;
}

.records--overview {
    margin-top: 0;
}

.record {
    border: 1px dashed chocolate;
    padding: 1rem;
    margin: 0.5rem 1rem;
    color: darkslategray;
    position: relative;
}

.record__status {
    position: absolute;
    top: 0.25rem;
    right: 0.25rem;
}

.status--achieved {
    background-color: greenyellow;
    padding: 0.33rem;
}

.status--incomplete {
    background-color: rgb(228, 174, 174);
}

.entry__separator {
    border-top: 1px dotted slateblue;
    margin: 0 1rem 0 1rem;
}

.record__header {
    font-weight: bold;
}

.record__score {
    color: brown;
    font-size: smaller;
}

.entry__date {
    font-size: smaller;
    margin-top: 0.5rem;
    color: rgb(136, 155, 173);
}

.entry {
    margin: 1rem 0 0 1rem;
    padding: 0.5rem;
}

.entry:hover {
    background-color: rgb(247, 224, 208);
}

.record__addto {
    margin: 0 0 2rem 0;
}

.entry__delete {
    margin: 0 0 0 2rem;
}

.recordFormButtons {
    display: flex;
    justify-content: space-around;
}

.weights {
    flex: 1;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: space-evenly;
    margin-top: 3rem;
}

.weight {
    flex-basis: 25%;
    border: 1px dashed chocolate;
    padding: 1rem;
    margin: 0.5rem 1rem;
    font-size: small;
}

.weight__datetime {
    font-size: smaller;
}

.container--recordForm {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    padding: 0 0 20rem 0;
}

.recordForm {
    z-index: 1;
    min-height: 25rem;
    min-width: 50%;
    max-width: 70%;
    padding: 0 5rem;
    background-color: hsla(0,0%,100%,0.75);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

#note {
    min-height: 10rem;
}

#achieved {
    margin: 0 0 0 1rem;
}
