.container--assessmentForm {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
}


.assessments {
    z-index: 1;
    min-height: 25rem;
    min-width: 50%;
    max-width: 70%;
    padding: 0 5rem;
    background-color: hsla(0,0%,100%,0.75);
    background-blend-mode: overlay;
    background-repeat: no-repeat;
}

.assessment {
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap;
}

.assessment__name {
    padding: 0.5rem 0;
    flex: 3;
}

.assessment__status {
    padding: 0.5rem 0.75rem;
    flex: 1;
}

.assessment__statusDropdown {
    display: flex;
    justify-content: flex-end;
    flex: 2;
}

.button--assessment {
    position: absolute;
    cursor: pointer;
    left: 1rem;
}

.assessment--inProgress {
    background-color: lemonchiffon;
}

.assessment--readyForReview {
    background-color: rgb(255, 157, 175);

}

.assessment--reviewedSuccess {
    background-color: rgb(203, 255, 157);

}

.assessment--reviewedFail {
    background-color: rgb(147, 159, 113);

}