.cohortStudents__sort {
    margin: 2rem 0 0 0;
}

.cohortStudents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.student {
    flex: 0 1 15%;
    border: 1px dotted darkcyan;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.student__actions {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px dotted darkgreen;
}

.action {
    flex: 0 0 33%;
}

.student__coreskills {
    display: grid;
    grid-template-columns: auto auto;
    font-size: smaller;
    margin: 0 0 1rem 0;
}

.student__footer {
    margin-top: auto;
    border-top: 1px dotted darkslategray;
    padding: 0.5rem 0 0 0;
    font-size: smaller;
}

.footer__score {
    margin: 0;
    padding: 0.25rem 0 0 0;
    line-height: 0;
}