.cohortStudents__sort {
    margin: 2rem 0 0 0;
}

.cohortStudents {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
}

.bookColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 2rem 0 0 0;
}

.bookColumn__header {
    border: 1px dotted rgb(50, 67, 50);
    background-color: #b1e2a9;
    padding: 0.5rem 1rem;
    text-align: center;
    min-width: 4rem;
    border-radius: 0.33rem;
    font-size: 0.8rem;
    color: rgb(74, 73, 73);
    margin: 0 0 0.8rem 0;
    box-shadow: 0.25rem 0.25rem 0.25rem rgb(156, 156, 156);
}

.bookColumn__studentcount {
    font-size: 0.6rem;
    padding: 0 0 0 0.5rem;
}

.cohortActions {
    display: flex;
    flex-wrap: nowrap;
    margin: 1rem 0 0 0;
}

.cohortAction {
    flex: 1;
}

.cohortAction--large {
    flex: 3;
}
