.cohortStudents__sort {
    margin: 2rem 0 0 0;
}

.cohortStudents {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.bookColumn {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 2rem 0 0 0;
}

.bookColumn__header {
    border: 1px dotted darkmagenta;
    background-color: lightpink;
    padding: 0.5rem 1rem;
    text-align: center;
}
