.NoteIconButton {
    position: absolute;
    bottom: 0.1rem;
    right: 0.1rem;
    font-family: inherit;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--violet-11);
    background-color: transparent;
}

.NoteIconButton:hover {
    cursor: pointer;
}

.rt-BaseButton.rt-variant-solid:where(:focus-visible) {
    box-shadow: none;
}
