@import url("https://fonts.googleapis.com/css?family=Comfortaa|Patua+One");
@import './tabbar.css';
@import './table.css';
@import './icons.css';
@import './buttons.css';
@import './card.css';
@import './dropdown.css';
@import './tabs.css';
@import './position.css';

/*Typography
--------------------------------------------------------------*/

body, button, input, select, textarea {
    color: #1b1b1b;
    font-family: "Comfortaa", Arial, sans-serif;
    font-size: 0.9em;
    line-height: 1.5;
    padding: 0;
    margin: 0;
}

body {
    background-color: #e5e5f7;
    opacity: 0.8;
    background-image: radial-gradient(#767dfb 0.5px, transparent 0.5px), radial-gradient(#767dfb 0.5px, #fdfdfd 0.5px);
    background-size: 20px 20px;
    background-position: 0 0, 10px 10px;
}

@media (max-width: 1000px) {
    body {
        font-size: 0.8em;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Patua One", serif;
    letter-spacing: 2px;
}

h4 {
    margin-block-end: 0.33rem;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.invisible {
    display: none;
}

.visible {
    display: block;
}

.error {
    border: 1px dotted rgb(107, 21, 4);
    padding: 1rem;
    background-color: rgb(255, 229, 228);
}

.view {
    margin: 1rem 3rem;
}

@media (min-width: 768px) {
    .view {
        margin: 1rem 5rem;
    }
}

@media (min-width: 1000px) {
    .view {
        margin: 1rem 10rem;
    }
}

.text--mini {
    font-size: small;
}

.fakeLink {
    color: -webkit-link;
    cursor: pointer;
    text-decoration: underline;
    border: none;
    cursor: pointer;
    background-color: inherit;
    font-size: inherit;
}

.fakeLink:hover {
    font-weight: bold;
}

.readonly {
    background-color: rgb(214, 226, 242);
    padding: 0.5rem;
    border-radius: 0.3rem;
}

.rightAlign {
    display: flex;
    justify-content: flex-end;
    flex-wrap: nowrap;
    margin: 0 0 2rem 0;
}

.small {
    font-size: smaller;
}

.nav-item {
    list-style-type: none;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control--row {
    flex: 3
}

.form-control--dialog {
    width: 95%;
}

.form-group {
    margin: 1rem 0;
}

.form-group--row {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: nowrap;
}

.label--row {
    flex: 1;
    padding: 0.75rem 0 0 0;
}

fieldset {
    min-width: 0;
    margin: 0;
    border: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}

.important {
    color: firebrick;
    font-size: 1rem;
}

.clickable {
    cursor: pointer;
}

.delete {
    margin: 0 0 0 0.33rem;
}

.hidden {
    display: none;
}