.cohorts {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0 10rem;
}

.cohort {
    flex: 0 1 40%;
    position: relative;
    margin: 0.5rem 1rem;
    padding: 0rem 1rem 0.5rem 1rem;
    border: 1px dotted slateblue;
}

.cohort__dates {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: nowrap;
}

.cohort__join {
    height: 1rem;
    width: 4rem;
    position: absolute;
    top: 0.5rem;
    right: -0.75rem;
    cursor: pointer;
}

.cohort__footer {
    border-top: 1px dotted slategray;
    display: flex;
    margin: 3rem 0 0 0;
    padding: 0.5rem;
    color: rgb(149, 149, 149);
    justify-content: space-between;
}

.cohort__coaches {
    display: flex;
    flex-wrap: wrap;
    margin: 1rem 0.5rem;
}

.instructor--badge {
    padding: 0.33rem;
    background-color: rgb(244, 215, 161);
    color: black;
    border-radius: 0.25rem;
    margin: 0.2rem 0.25rem;
    font-size: 0.75rem;
    max-width: 10rem;
    text-align: center;
}

.icon--slack--cohort {
    height: 1rem;
    width: 1rem;
    cursor: pointer;
}

.studentList {
    margin: 1rem 3rem;
}

.studentList__student {
    display: grid;
    grid-template-columns: 1fr 5fr 3fr;
    margin-bottom: 0.33rem;
}

.studentList__options {
    margin-bottom: 2rem;
    display: flex;
    flex-direction: row;
}

.studentList__createCohort {
    margin-left: auto;
}

.button--commit {
    margin: 0 0 0 1rem;
}