.student__header {
    display: grid;
    grid-template-columns: 6fr 1fr;
}

.student__info {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 0;
}

.student__score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: firebrick;
    color: rgb(255, 209, 209);
    padding: 0.5rem 1.25rem;
    font-size: 1.3rem;
    text-align: center;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.button--record {
    margin: 1rem 0;
}


.student__details {
    font-size: 0.7rem;
    display: flex;
}

.student__github {
    flex: 2;
}

.student__cohort {
    flex: 1;
}

.persona {
    display: flex;
    flex-direction: row;
}

.section--persona {
    padding: 0 1rem;
}

.persona__myers-briggs {
    flex: 3;
}

.persona__bfi {
    flex: 2;
}

.personality-- {
    background-color: rgb(219, 234, 237);
}

.personality--Analyst {
    background-color: #e0c8e9;
}

.personality--Sentinel {
    background-color: #aedced;
}

.personality--Explorer {
    background-color: #f9e7c1;
}

.personality--Diplomat {
    background-color: #c2f0dd;
}

.student {
    border: 2px dotted rgb(137, 188, 188);
    padding: 0.5rem 0.75rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    margin: 0.33rem 0 0 0;
    max-width: 8rem;
}

.student--takingAssessment {
    border: 2px solid rgb(251, 255, 30);
}

.student--assessmentReviewNeeded {
    border: 2px solid rgb(203, 53, 27);
}

.student--assessReviewComplete {
    border: 2px solid rgb(9, 228, 68);
}

.student__actions {
    display: flex;
    flex-wrap: nowrap;
    border-bottom: 1px dotted darkgreen;
}

.student__name {
    margin: 0 0 0.33rem 0;
}

.action {
    flex: 0 0 33%;
}

.student__coreskills {
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: smaller;
    margin: 0 0 1rem 0;
    margin-top: auto;
}

.student__footer {
    margin-top: auto;
    border-top: 1px dotted darkslategray;
    padding: 0.5rem 0 0 0;
    font-size: smaller;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
}

.student__tags {
    margin-top: auto;
    border-top: 1px dotted darkslategray;
    padding: 0.5rem 0 0 0;
    font-size: smaller;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer__score {
    margin: 0;
    line-height: 0;
}

.student__header {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.student__project {
    font-size: smaller;
    padding: 0 0 0.33rem 0;
}

.student__book {
    font-size: smaller;
}

.student--tag {
    padding: 0.1rem 0.33rem;
    background-color: rgb(247, 177, 255);
    color: black;
    border-radius: 0.25rem;
    margin: 0.2rem 0.33rem;
    font-size: 0.75rem;
    cursor: pointer;
}
