@import '@radix-ui/colors/black-alpha.css';
@import '@radix-ui/colors/mauve.css';
@import '@radix-ui/colors/violet.css';
@import url('./css/radix-dropdown.css');
@import url('./css/radix-popover.css');

button {
    all: unset;
}

.student {
    border: 1px solid rgb(137, 188, 188);
    padding: 0 0.33rem 0.3rem 0.5rem;
    border-radius: 0.2rem;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    position: relative;
    box-shadow: 0.20rem 0.2rem 0.5rem 0 rgb(180, 179, 179);
    transition: all .2s ease-in-out;
    margin: 0.15rem 0;
}

.student--mini {
    width: 5rem;
}

.student--regular {
    width: 12rem;
}

.student__name {
    color: rgb(5, 50, 95);

 }

.student__name:hover {
    color: rgb(30, 93, 156);
    text-decoration: underline;
    cursor: pointer;
}

.student__footer {
    margin-top: auto;
    font-size: smaller;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    transition: height 400ms ease 0ms;
    height: 0;
    overflow: hidden;
}

.student__footer.grow {
    overflow: visible;
    height: 1rem;
    border-top: 1px dotted darkslategray;
    padding: 0.5rem 0 0 0;
}

.student__info {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-bottom: 0;
}

.student__history {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.student__score--mini {
    font-family: "Patua One", serif;
    position: absolute;
    top: -0.4rem;
    right: -0.8rem;
    font-size: 0.7rem;
    color: #4a0d2f;
    font-weight: bold;
    letter-spacing: 2px;
    background-color: #decdd6;
    padding: 0.1rem;
    border-radius: 0.7rem;
    border: 1px solid lightskyblue;
}

.student__proposals {
    position: absolute;
    top: 0rem;
    left: -0.8rem;
    display: flex;
    flex-direction: column;
}

.student__score {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: firebrick;
    color: rgb(255, 209, 209);
    padding: 0.5rem 1.25rem;
    font-size: 1.3rem;
    text-align: center;
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
}

.button--record {
    margin: 1rem 0;
}

.student__details {
    font-size: 0.7rem;
    display: flex;
}

.student__github {
    flex: 2;
}

.student__cohort {
    flex: 1;
}

.persona {
    display: flex;
    flex-direction: row;
}

.section--persona {
    padding: 0 1rem;
}

.persona__myers-briggs {
    flex: 3;
}

.persona__bfi {
    flex: 2;
}

.personality-- {
    background-color: rgb(219, 234, 237);
}

.personality--Analyst {
    background-color: #e0c8e9;
}

.personality--Sentinel {
    background-color: #aedced;
}

.personality--Explorer {
    background-color: #f9e7c1;
}

.personality--Diplomat {
    background-color: #c2f0dd;
}


.student--takingAssessment {
    border: 2px solid rgb(251, 255, 30);
}

.student--assessmentReviewNeeded {
    border: 3px solid rgb(231, 52, 20);
    animation: attention 4s linear infinite;
}

.student--assessReviewIncomplete {
    border: 2px solid rgb(175, 22, 165);
}

.student--assessReviewComplete {
    border: 2px solid rgb(19, 241, 78);
}

@keyframes attention {
    0% {
        border-color: red;
    }

    50% {
        border-color: rgb(255, 164, 164);
    }

    100% {
        border-color: red;
    }
}

.student__actions {
    display: none;
    flex-wrap: nowrap;
    border-bottom: 1px dotted darkgreen;
}


.action {
    flex: 0 0 20%;
}

.student__coreskills {
    display: grid;
    grid-template-columns: auto auto auto auto;
    font-size: smaller;
    margin: 0 0 1rem 0;
    margin-top: auto;
}

.student__tags {
    margin-top: auto;
    border-top: 1px dotted darkslategray;
    padding: 0.5rem 0 0 0;
    font-size: smaller;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}


.studentnote {
    display: flex;
    flex-direction: column;
    flex: 0 1 20%;
    position: relative;
    margin: 0.5rem 1rem;
    padding: 1rem 1rem 0.5rem 1rem;
    border: 1px dotted slateblue;
    background-color: rgb(254, 256, 255);
    box-shadow: 0.25rem 0.25rem 0.5rem 0 rgb(180, 179, 179);
    border-radius: 0.33rem;
}

.studentnote__header {}

.studentnote__footer {
    border-top: 1px dotted slategray;
    display: flex;
    margin: 1rem 0 0 0;
    padding: 0.33rem 0;
    color: rgb(149, 149, 149);
    justify-content: space-between;
    font-size: 0.75rem;
}

.footer__score {
    margin: 0;
    line-height: 0;
}

.student__project {
    font-size: smaller;
    padding: 0 0 0.33rem 0;
}

.student__book {
    font-size: smaller;
}

.student--tag {
    padding: 0.1rem 0.33rem;
    background-color: #e3c0ce;
    color: black;
    border-radius: 0.25rem;
    margin: 0.2rem 0.33rem;
    font-size: 0.7rem;
}


.tag__name {
    font-size: 0.55rem;
    padding-left: 0;
}


.overlay--student {
    animation: createBox .25s;
    position: fixed;
    display: none;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255);
    z-index: 2;
}

@keyframes createBox {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

.close {
    position: relative;
    display: inline-block;
    width: 2rem;
    height: 2rem;
    overflow: hidden;
    border-radius: 50%;
    border: 1px dotted white;
}

.close:hover {
    border: 1px dotted rgb(62, 62, 62);

}

.close:hover::before, .close:hover::after {
    background: #1ebcc5;
}

.close::before, .close::after {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: rgb(131, 130, 130);
}

.close::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}

.close::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}

.close.hairline::before, .close.hairline::after {
    height: 1px;
}

.svg {
    cursor: pointer;
    margin-left: 0.33rem;
    height: 0.9rem
}

.svg--large {
    height: 1.5rem
}

.section--notes {
    padding: 0 2rem;
    max-height: 20rem;
    overflow: scroll;
    border: 1px dotted lightsteelblue;
}

.dialog--note {
    height: fit-content;
}

.note {
    border-top: 1px solid rgb(191, 231, 231);
    padding: 0.4rem 1rem;
    display: flex;
    justify-content: space-between;
}

.note__date {
    font-size: small;
}

.note:nth-child(even) {
    background-color: rgb(241, 252, 249);
}


.section--proposals {
    padding: 0 2rem;
}



















