.navbar {
    display: flex;
    flex-wrap: nowrap;
    justify-content: left;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__logo {
    width: 5rem;
    height: 5rem;
}

.navbar__link {
    background-color: inherit;
}
