.navbar {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 2rem);
}

@media (min-width: 768px) {
    .navbar {
        display: flex;
        flex-wrap: nowrap;
        justify-content: left;
    }
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.img--logout {
    width: 2rem;
    height: 2rem;
}

.navbar__logout {
    cursor: pointer;
}

@media (min-width: 768px) {
    .navbar__logout {
        cursor: pointer;
        margin-left: auto;
        padding: 0 1rem 0 0;
    }
}

.navbar__logo {
    width: 5rem;
    height: 5rem;
}

.navbar__link {
    background-color: inherit;
}