.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: teal;
    color: #fff;
}

#checkbox_toggle {
    display: none;
}

.hamburger {
    display: none;
    user-select: none;
}

.nav-links {
    width: 100%;
    margin: 0.75rem 0 0.33rem 0;
}

.menu {
    display: flex;
    gap: 1em;
}

.navbar__item {
    flex-basis: 20%;
    list-style-type: none;
}

.navbar__link {
    background-color: inherit;
    color: blanchedalmond;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: teal;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
        z-index: 3;
    }

    .menu li+li {
        margin-top: 12px;
    }

    #checkbox_toggle:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .navbar__logout {
        cursor: pointer;
    }
}

.img--logout {
    width: 1.5rem;
    height: 1.5rem;
}

.navbar__logout {
    cursor: pointer;
}

.navbar__logout {
    cursor: pointer;
    margin-left: auto;
    padding: 0 1rem 0 0;
}